<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>
    INGRESE CIUDAD A CONSULTAR
	</h1>

	<form action="/api/searchcity" method="post" id="searchform">
		<label for="city">Ciudades: </label><br>
		<input type="text" id="city" name="city" value="ESCRIBA AQUI"><br>
		
		<input type="submit" value="BUSCAR">
	</form>

</body>
</html>